:root {
    --background-gris-claro: #EDEDED;
    --background-blanco: #FFFFFF;
    --color-azul: #2A7AE4;
    --color-azul-claro: #EAF2FD;
    --color-gris-oscuro: #464646;
    --padding-formateo: 4rem 8rem 4rem 8rem;
    /* --padding-formateo-tablet: ; */
    --padding-formateo-mobile: 1rem 2rem 1rem 2rem;
}

body {
    font-family: Raleway, sans-serif !important;
    color: var(--color-gris-oscuro);
}