.presentacion {
    background: var(--background-gris-claro);
    display: flex;
}

.presentacion-info {
    display: flex;
    flex-direction: column;
}

.presentacion__lista {
    display: flex;
}

.presentacion__item {
    list-style: none;
}

.presentacion__item:hover {
    border-bottom: 4px solid var(--color-azul);
}

.presentacion__link {
    text-decoration: none;
    color: var(--color-gris-oscuro);
}

.presentacion__imagen {
    background: url('../img/laura.jpg') no-repeat center / cover;
    border-radius: 100%;
}

@media screen and (min-width: 0px) {
    .presentacion {
        padding: var(--padding-formateo-mobile);
        display: flex;
        flex-direction: column;
    }
    .presentacion__titulo {
        font-size: 1.5rem;
    }
    .presentacion__descripcion {
        font-size: 1rem;
        padding: 0;
    }
    .presentacion__imagen {
        order: -1;
        width: 100px;
        height: 100px;
        margin-bottom: 1rem;
    }
    .presentacion__item {
        font-size: .8rem;
        margin: 0;
    }
    .presentacion__lista {
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) {
    .presentacion {
        padding: var(--padding-formateo-tablet);
        flex-direction: row;
    }
    .presentacion-info {
        padding-right: 1rem;
        width: 70%;
    }
    .presentacion__imagen {
        order: 0;
        width: 200px;
        height: 200px;
    }
    .presentacion__item {
        font-size: 1rem;
    }
}

@media screen and (min-width: 998px) {
    .presentacion {
        padding: var(--padding-formateo);
    }
    .presentacion-info {
        margin-right: 2rem;
    }
    .presentacion__titulo {
        font-size: 3rem;
    }
    .presentacion__imagen {
        height: 350px;
        width: 350px;
    }
    .presentacion__descripcion {
        font-size: 1.5rem;
    }
    .presentacion__lista {
        justify-content: flex-start;
    }
    .presentacion__item {

        margin-right: 3rem;
    }
}